// Define primary colors
$primary-color: rgb(28, 175, 175);

$primary-dark: #0056b3; // Darker shade of blue

// Define secondary colors
$secondary-color: #ffc107; // Yellow
$secondary-dark: #ffab00; // Darker shade of yellow

// Define background and text colors
$background-color: #f8f8f8; // Light gray
$text-color: #333; // Dark gray

// Define accent colors, etc.
$accent-color-1: #e91e63; // Pink
$accent-color-2: #4caf50; // Green
