.avatar-form {
  display: flex;
  flex-direction: column;
  background-color: #ff6060;
  justify-content: center;
  text-align: center;
  gap: 75px;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.avatar-form-error-hide {
  display: none;
}

.preview-img {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: -45px;
}

.preview-img-hidden {
  display: none;
}
