.profil-page {
  display: flex;
  margin-top: 150px;
}

.profil-page-hide {
  pointer-events: none;
  opacity: 0.2;
}

.house-wrapper {
  background-color: rgb(229, 229, 229);
}

.profil-wrapper {
  background-color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 40%;
}

.profil-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.avatar {
  height: 120px;
}
