.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

.header-container-hide {
  pointer-events: none;
  opacity: 0.5;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 30px;
  color: #ff6060;
}

@media only screen and (max-width: 762px) {
  .NavContainer {
    gap: 20px;
  }
}

.header-link {
  padding: 10px 15px;
  color: #ff6060;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-width: 762px) {
  .header-link {
    font-size: 16px;
    padding: 0;
  }
}

.header-link:hover {
  text-decoration: underline;
}

.header-button {
  padding: 10px 15px;
  color: #ff6060;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border: none;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 762px) {
  .header-button {
    font-size: 16px;
    padding: 0;
  }
}

.header-button:hover {
  text-decoration: underline;
}

.header-logo {
  /* Your default styles here */

  @media only screen and (max-width: 762px) {
    width: 150px;
  }
}
